@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');




body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
/* navbar styles start */
nav{
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.nav-items ul{
    display: flex;
}
.nav-items>ul>li{
    color: wheat;
    list-style: none;
    font-size: 16px;
    margin-left: 36px;
}
.icon{
    Width: 123px;
    Height:44px;
    background-color: #E02C6D;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.icon img{
    width: 25%;
}
.icon-name{
    color: white;
    font-size: 16px;
}
/* navber style end */
/* banner-part style start */
.banner-part{
    
    display: flex;
   justify-content: center;
   justify-content:space-evenly;
   align-items: center;
   margin: 30px 0 0 50px;
   
   
    
}
 .banner-info h1{
    color: white;
    width: 485px;
    font-size: 50px;
} 
.banner img{
    width: 556px;
    height: 438px;
}
.btn{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background: #eb095c;
   
}
.fa-arrow-right{
    margin-left: 5px;
}

.btn:hover{
    font-size: 30px;
    background-color: rgb(11, 173, 248);
    width: 300px;
    transition: 1s ease-in;
}

/* banner part style end */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 37px;
    width: 1050px;
    
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    width: 300px;
    
}

.player-img img{
    width: 300px;
    height: 256px;
    
}
.player-info{
    width: 300px;
    
    
}
.player-details{
    height: 100px;
    overflow-y: scroll;
    text-align: justify;
    font-size: 15px;
}
/* extra section style */
fieldset{
    border-color: #eb095c;
    border-width: 5px;
   position: relative;
   margin: 0 auto;
    text-align: center;
    width: 1015px;
    margin-top: 50px;
    
}

fieldset>h3{
    font-size: 30px;
}
legend{
    color: #eb095c;
    font-size: 40px;
    font-weight: bolder;
}
.league-section{
    display: flex;
    justify-content: center;
    
}
.league-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
       
    }
.name{
    text-align: left;
}
.img-name{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.match{
    color: white;
    background:#eb095c;
}
.img-name img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* footer style start */
footer{
    background: white;
    margin-top: 50px;
     
}
.footer-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
}
.logo{
    width: 483px;
    height: 110px;
}

.social-icon img{
    width:17.07px;
    height: 17.07px;
    margin-left: 14px;
}

/* footer style end */




/* responsive for tablet */

@media only screen and (max-width: 900px) {
    .navbar{
        float: left;
        display: block;
    }
    .banner-part{
        display: flex;
        flex-direction: column;
              
    }
    .players{
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
    }
    fieldset{
        width: 600px;
    }
}


/* responsive for mobile */

@media only screen and (max-width: 600px) {
    .navbar{
        float: left;
        display: block;
    }
    .banner-part{
        display: flex;
        flex-direction: column;
              
    }
    .players{
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
        
    }

    fieldset{
        width: 300px;
    }
    
    .league-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
 
    .logo{
        width: 240px;
        height: 55px;
    }
    
}
